<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.13/dist/vue.js" defer></script>
	<script src="script.js" defer></script>
    <title>Vue Slider</title>

</head>
<body>

	<div class="container-blur">
		<div class="slider">
			<div class="slider-viewer">
				<div v-for="(objSlide,i) in arrImages" class="slide" >
					<img :src="objSlide.image" :alt="objSlide.title" class="slider-img" :class="i===activeIndex? 'active':''">
					<div class="text-top" :class="i===activeIndex? 'active-testo':''">
						<h1>{{objSlide.title}}</h1>
						<p>{{objSlide.text}}</p>

					</div>

				</div>
			</div>

			<div class="thumbs">

				<div class="controls">
					<button @click="activeIndex--" class="btn-left" >&#x1431;</button>
					<button  @click="activeIndex++" class="btn-right">&#5167;</button>
				</div>
			
				<img v-for="(objSlide,i) in arrImages" :src="objSlide.image" alt="objSlide.title" class="thumb-img" :class="i===activeIndex? 'active':''" >
				

			</div>
		</div>
	</div>
	
</body>
</html>